$primary-color: #387156;
$secondary-color: #eef7ef;
$tertiary-color: #4c9974;
$layout-color: #d9d9d9;
$background-color: #fcfcfc;

$gs-000: #ffffff;
$gs-001: #f8f8f8;
$gs-002: #eeeeee;
$gs-003: #dddddd;
$gs-004: #c9c9c9;
$gs-005: #b4b4b4;
$gs-006: #999999;
$gs-007: #666666;
$gs-008: #333333;
$gs-009: #000000;

$system-red: #ff3b30;
$system-orange: #ff9500;
$system-green: #34c759;
$system-yellow: #fc0;
$system-teal: #5ac8fa;
$system-blue: #007aff;
$system-indigo: #5856d6;
$system-navy: #0e2e54;
$system-pink: #ff2d55;
$system-purple: #af52de;
$system-questionOrange: #fff7ed;
$system-questionGreen: #edffde;

$light-red: #ff8e8e4f;
$light-orange: #fff48e4f;
$light-green: #364c631a;
$light-brown: #6717181a;
$light-yellow: #a45d0b1a;
$light-gray: #6454551a;
$light-purple: #5856d633;
$light-warn: #ff766e;
$light-blue: #4ba3c9;
$light-pink: #ffaca7;

$quiz-01: #94d1a3;
$quiz-02: #93b87a;
$quiz-03: #b6b5e3;
$quiz-04: #93d0ec;
$quiz-05: #e4b067;
$quiz-06: #f0aca8;

$green-001: #80ae54;
$green-002: #639354;
$green-003: #387156;
$green-004: #7ab89e;
$green-005: #f0f4eb;
$green-006: #eff5f3;
$green-007: #bdff7d;
$green-008: #93cb66;
$green-009: #edf6e5;
$green-010: #edf7e5;
$green-011: #f5f5f3;
$green-012: #6fb5d4;

$cycle-green: #93e396;
$cycle-red: #ffbdb9;
$cycle-orange: #ffd293;

$dark-brown: #671718;
$dark-yellow: #a45d0b;
$dark-green: #364c63;
$dark-gray: #645455;

$-Adbert-50: #fbfafc;
$-Adbert-100: #ebe9f0;
$-Adbert-200: #b9b7bd;
$-Adbert-300: #6200ff;
$-Adbert-400: #2f1160;
$-Adbert-500: #162c50;
$-Adbert-600: #11213c;
$-Adbert-700: #f3f2f8;

$-ask-edit-blue: #005cb2;
$-ask-edit-green: #007d30;

$calandar-green: #1ebf73;

$gradient01: linear-gradient(180deg, #5856d6 0%, rgba(0, 122, 255, 0.3) 100%);
$gradient02: linear-gradient(180deg, #af52de 0%, rgba(88, 86, 214, 0.3) 100%);
$gradient03: linear-gradient(180deg, #ff9500 0%, rgba(255, 45, 85, 0.31) 100%);
$gradient04: linear-gradient(180deg, #ff2d55 0%, rgba(255, 59, 48, 0.3) 100%);
